body{
   
    color: #ffffff;
    line-height: 1.4;
    font-size: 15px;
    background-image: url(img/casamento.jpeg);
    background-size: 90%;
    background-position-x: 150%;
}

header{
    width: 15%;
    height:985px;
    position: fixed;
    left: 0;
    top: 0;
    margin-top: -0.5%;
    text-align: center;
    color: #ffffff;
    font-family:'Times New Roman', Times, serif;
    background-color:#010409;   
}


.img{
    position: fixed;
    top: 3%;
    left: 3.5%;
    background-image: url(img/img1.jpg);
    background-size: cover;
    width: 8%;
    height: 15%;
    border-radius: 50%;
    border: 3px solid #9A5833;
}

.cabeça{
    text-align: center;
    margin-top: 80%;
}

a{
    color: #ffffff;
    text-align: left;
    text-decoration:none;
    font-family:Arial, Helvetica, sans-serif;
    position: relative; 

}

.menu a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0; 
    height: 2px;
    background-color: #9A5833; 
    transition: width 0.3s ease;
}

.menu a:hover::before {
    width: 100%; 
}

.menu a.pagatual::before{
    width: 100%;
}

h2{
    font-weight: unset;  
    font-size: 25px;
    left: 60%;
    color: #E3EEF9;
    margin-left: -10%;
}

.icones{
    position: fixed;
    text-align: left;
    left: 1%;
    line-height: 4;
    margin-top: 5.7%;   
}


.menu{
    position: fixed;
    text-align: left;
    left: 3%;
    line-height: 2.9;
    margin-top: 5%;
}



.subs{
    left: 55%;
    position: fixed;
    margin-top: 3%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.sociais{
    margin-top: -10%;

}

.info{
    background-color: #0D1117;
    border: 2px solid #B4856B;
    width: 1200px;
    height: 800px;
    padding: 10px;
    border-radius: 20%;
    margin: 0;
    position: relative;
    margin-left: 25%;
    margin-top: 5%;
    opacity: 1;
}

.corpo h2{
    text-decoration: underline;
    position: fixed;
    left: 40%; 
    font-size: 45px;
    max-width: 1000px;
    top: 15%;
    color: #ffffff;
}

.corpo img{
    width: 9%;
    position: fixed;
    top: 29%;
    left: 30%;
    border-radius: 3%;
}

.pessoal{
   font-size: 22px;
   color: #ffffff;
   position: fixed;
   top: 27%;
   left: 30%;
}

.habil h2{
    position: fixed;
    top: 55%;
    left: 40%; 
    font-size: 45px;
    max-width: 1000px;
    color:#ffffff;
    text-decoration: underline;
}


.habilidade{
    position: fixed;
    top: 68%;
    left: 30%; 
    font-size: 20px;
    max-width: 1000px;
    color:#ffffff;
}

.linha{
    position: absolute;
    border-left: 2px solid;
    height: 650px;
    color:  #ffffff;
    left: 38%;
    top: 10%;
}

.sobreMim h2{
    text-decoration: underline;
    position: fixed;
    left: 65%; 
    font-size: 45px;
    max-width: 1000px;
    top: 15%;
    color:  #ffffff;
}

.sobreMim p{
    max-width: 600px;
    left: 55%;
    font-size: 22px;
    color: #ffffff;
    position: fixed;
    top: 28%;
    letter-spacing: 1px;
}

.ti{
    width: 370px;
    height: 400px;
    position: fixed;
    top: 30%;
    border-radius: 20px;
    transition: .2s;
    left: 27%;
}

.ti:hover{
    transform: scale(1.03);
    box-shadow: 0 0 20px #B4856B;
}

.ti img{
    width: 150px;
    position: relative;
    top: 20%;
   align-items: center;
}

.ti p{
    position: relative;
    top: 20%;
    text-align: center;
    /* left: 23%;   */
    font-size: 27px;
    max-width: 1000px;
}
.ti h2{
    text-decoration: none;
    color: #ffffff;
    position: relative;
    top: 20%;
    left: 10%;  
    font-size: 27px;
    max-width: 1000px;
}

.meca{
    width: 370px;
    height: 400px;
    position: fixed;
    top: 30%;
    border-radius: 20px;
    transition: .2s;
    left: 47.8%;
}

.meca:hover{
    transform: scale(1.03);
    box-shadow: 0 0 20px #B4856B;
}

.meca img{
    width: 150px;
    position: relative;
    top: 20%;
    align-items: center;
}

.meca p{
    position: relative;
    top: 20%;  
    left: 27%;
    font-size: 27px;
}

.meca h2{
    text-decoration: none;
    position: relative;
    top: 20%;
    left: 10%;  
    font-size: 27px;
    max-width: 1000px;
    color: #ffffff;
}

.soft{
    width: 370px;
    height: 400px;
    position: fixed;
    top: 30%;
    border-radius: 20px;
    transition: .2s;
    left: 69%;
}

.soft:hover{
    transform: scale(1.03);
    box-shadow: 0 0 20px #B4856B;
}

.soft img{
    width: 150px;
    position: relative;
    top: 20%;
    align-items: center;
}

.soft p{
    position: relative;
    top: 20%;  
   text-align: center;
    font-size: 27px;
}

.soft h2{
    text-decoration: none;
    position: relative;
    top: 20%;
    left: 10%;  
    font-size: 27px;
    max-width: 1000px;
    color: #ffffff;
}

.proj1 img{
    width: 140px;
    position: fixed;
    left: 75%;
    top: 35%;
}

.proj2 img{
    width: 140px;
    position: fixed;
    left: 53%;
    top: 35%;
}

.proj3  img{
    width: 140px;
    position: fixed;
    left:32%;
    top: 35%;
}

.proj1 h2{
    position: fixed;
    left: 84%;
    top: 50%;
    text-decoration: none;
    color: #ffffff;
}

.proj2 h2{
    position: fixed;
    left: 56%;
    top: 50%;
    text-decoration: none;
    color: #ffffff;
}

.proj3 h2{
    position: fixed;
    left: 41%;
    top: 50%;
    text-decoration: none;
    color: #ffffff;
}

#ihtml img{
    width: 15%;
    height: 0.5%;
    position: fixed;
    left: 34%;
    top: 72%;
}

#ihtml p{
    position: fixed;
    left: 40%;
    top: 66.5%;
    font-size: 23px;
}

#ihtml, #icss, #ijs{
    display: none;
    position: absolute;
}

#icss img{
    width: 15%;
    position: fixed;
    left: 34%;
    height: .45%;
    top: 77%;
}

#icss p{
    position: fixed;
    left: 40%;
    top: 71.5%;
    font-size: 23px;
}

#ijs img{
    width: 13%;
    position: fixed;
    left: 36%;
    height: .45%;
    top: 82%;
}

#ijs p{
    position: fixed;
    left: 40%;
    top: 76.5%;
    font-size: 23px;
}


.carrossel {
    position: relative;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    align-items: center;
    justify-content: justify;
    margin-top: 30%;
    
}

#cardcarrosel {
    display: flex;
    transition: transform 0.5s ease;
}

.repo-card {
    border: #9A5833 solid 3px;
    background-color: #B4856B;
    color:#ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 15px;
    padding: 20px;
    min-width: 300px;
}

.carrossel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 2;
}

#botaoanterior {
    left: 0;
}

#botaoproximo {
    right: 0;
}

